@import '@fontsource-variable/inter-tight';

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Inter Tight Variable', system-ui, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  @apply text-3xl font-bold;
}
